# Port for the server to run on
PORT=5000

# Your MongoDB connection string
DATABASE_URL=mongodb+srv://<username>:<password>@cluster0.mongodb.net/digital-wallet

# JWT secrets and expiration times
JWT_ACCESS_TOKEN_SECRET=your_access_token_secret
JWT_ACCESS_TOKEN_EXPIRES_IN=1d
JWT_REFRESH_TOKEN_SECRET=your_refresh_token_secret
JWT_REFRESH_TOKEN_EXPIRES_IN=30d

# Bcrypt salt rounds for hashing
BCRYPT_SALT_ROUNDS=12

# Default Admin Credentials (for initial seeding)
DEFAULT_ADMIN_EMAIL=admin@wallet.com
DEFAULT_ADMIN_PASSWORD=adminpass
DEFAULT_ADMIN_PIN=1234
